# Build artifacts
/build/
/build*/
/bin/
/lib/
*.obj
*.o
*.lo
*.la
*.a
*.dll
*.exe
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.tmp

# webview2_pkg
webview2_pkg/**
!webview2_pkg/build/
!webview2_pkg/build/native/
!webview2_pkg/build/native/include/
!webview2_pkg/build/native/include/**
!webview2_pkg/build/native/x64/
!webview2_pkg/build/native/x64/**
!webview2_pkg/WebView2.idl
!webview2_pkg/WebView2.tlb
!webview2_pkg/LICENSE.txt
!webview2_pkg/NOTICE.txt

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Qt / Creator / VS user files
*.user
*.user.*
*.pro.user
*.qbs.user
*.qmlproject.user
*.idea/
*.vs/
.vs/
*.vcxproj.user
*.VC.db
*.VC.opendb

# Logs and runtime outputs
debug.log
*.log

# Local storage/runtime data
/storage/
/Release/storage/
/build/Release/storage/

# Generated resources
*.qrc.depends
*.qm

# OS noise
.DS_Store
Thumbs.db
ehthumbs.db
